<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.bundle.min.js"></script>
  <style> body { padding: 0; margin: 0; } </style>
  <title>Simulation for epidemic</title>
</head>
<body>
  <h1>graph for infected</h1>
  <canvas id="myLineChart"></canvas>
  <h1>simulation</h1>
  <script language="javascript" type="text/javascript" src="static/libraries/p5.min.js"></script>
  <script language="javascript" type="text/javascript" src="static/p5js-temp-sketch_200330b3553085103820532619.js"></script>
</body>
</html>
